div.css-12w0qpk.esravye1 {
    background-color: #ffffff;
    border: 2px solid #DCDCDC;
    padding: 3% 2%;
    border-radius: 12px;
}

div.css-keje6w.esravye1{
    background-color: #ffffff;
    border: 2px solid #DCDCDC;
    padding: 3% 2%;
    border-radius: 12px;
    text-align: center;
}
